<div style="text-align: center;">
    <hr>
    <img src="../../../assets/images/logo_ope.png" alt="Foto" height="200px" width="70%">
</div>
<br>
<h2 style="text-align: center; font-size: 30px;"><strong>Bienvenido</strong></h2>
<h5 style="text-align: center; font-size: 18px;">
    Te encuentras en estos momentos en el area de Logistica, con tus privilegios puedes realizar las siguientes acciones:
</h5>
<br>
<hr>
<div class="row" style="width: 100%;">
    <div class="col-5 offset-1">
        <mat-list dense>
            <mat-list-item >
            <mat-icon class="mat-18">account_circle</mat-icon>
            Acceso a tu perfil "perfil"         
            </mat-list-item>
            <mat-list-item >
            <mat-icon class="mat-18">computer</mat-icon>
            Habilitar/Inhabilitar Maquinas"
            </mat-list-item>
            <mat-list-item >
            <mat-icon class="mat-18">group_work</mat-icon>
            Gestionar "Equipos"
            </mat-list-item>
            </mat-list>
            </div>
            <div class="col-6">
            <mat-list dense>
            <mat-list-item >
            <mat-icon class="mat-18">book</mat-icon>
            Gestionar "Problemas"
            </mat-list-item>
            <mat-list-item >
            <mat-icon class="mat-18">add_to_queue</mat-icon>
            Asignar Equipos
            </mat-list-item>
        </mat-list>
    </div>
</div>    
