<div class="col col-xs-12 col-sm-10 offset-1">
    <!-- mt-4 col-8 offset-2 -->

<div class="list-group">
    <hr>
    <h2 style="text-align: center;">Administrador</h2>
    <hr>
    <a href="/admin" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">Bienvenido: {{nombre}}</h3>
        </div>   
    </a>
        <a href="/perfil" class="list-group-item list-group-item-action ">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Perfil</h5>
        <small><i class="bi bi-person"></i></small>
        </div>
        <p class="mb-1">Modificar tu perfil</p>          
    </a>
    <a href="/usuario" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Usuarios</h5>
        <small class="text-muted"><i class="bi bi-people"></i></small>
        </div>
        <p class="mb-1">Administrar Usuarios</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Laboratorios</h5>
        <small class="text-muted"><i class="bi bi-display"></i></small>
        </div>
        <p class="mb-1">Administrar Laboratorios</p>
    </a>
    <a href="/usuario" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Equipos</h5>
            <small class="text-muted"><i class="bi bi-people-fill"></i></small>
        </div>
        <p class="mb-1">Administrar Equipos</p>
        </a>
</div>
</div>