h4{
    font-size: 30px;
    text-align: center;
}
.row{
    width: 100%;
    text-align: center;
}
.mat-icon {
    font-size: 20px; 
}   
.card-text{
    font-size: 13px;
}
.card-header{
    background-color: rgb(9, 50, 78);
    color: white;
}