    <div class="row overflow-auto">
        <div class="col-12 bg-dark" id="menu">
            <a href="#sidebar" data-toggle="collapse" class="btn btn-dark">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                MENU
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-1" id="sidebar">
            <div style="text-align: center; color: #fff;">
                <br>
                <h2><strong>Olimpiada de Programación Para Estudiantes de Secundaria O.P.E.</strong></h2>
                <img src={{imagen()}} alt="Foto" width="70px" style="border-radius: 50%;">
                <br>
                {{getrol()}}
            </div>
            <div class="list-group panel">
                <a class="nav-link" href="admin/home"><mat-icon class="icono">home</mat-icon>Inicio<span class="sr-only"></span></a>
                <a href="admin/perfil" class="nav-link"><mat-icon class="icono">account_circle</mat-icon>Perfil </a>
                <a href="#menu1" class="list-group-item collapsed nav-link dropdown" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><mat-icon class="icono">settings</mat-icon> Organizacion<i class="bi bi-caret-down-fill"></i></a>
                <div class="collapse" id="menu1">
                    <a href="admin/usuario" class="list-group-item menu" data-parent="#menu1"><mat-icon class="icono">people</mat-icon> Usuario</a>
                    <a href="admin/laboratorio" class="list-group-item menu" data-parent="#menu1"><mat-icon class="icono">domain</mat-icon>Laboratorio</a>
                </div>
                <a href="#menu3" class="list-group-item collapsed nav-link menu" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><mat-icon class="icono">new_releases</mat-icon> Competencia<i class="bi bi-caret-down-fill "></i></a>
                <div class="collapse" id="menu3">
                    <a href="admin/concurso" class="list-group-item menu" data-parent="#menu3"><mat-icon class="icono">event</mat-icon>Concurso</a>
                    <a href="admin/categoria" class="list-group-item menu" data-parent="#menu3"><mat-icon class="icono">merge_type</mat-icon>Categoria</a>
                    <a href="admin/problema" class="list-group-item menu" data-parent="#menu3"><mat-icon class="icono">book</mat-icon>Problema</a>                    
                    <a href="admin/equipo" class="list-group-item menu" data-parent="#menu3"><mat-icon class="icono">group_work</mat-icon>Equipo</a>
                </div>                       
                <a href="#menu2" class="list-group-item collapsed nav-link dropdown" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><mat-icon class="icono">add_to_queue</mat-icon> Asignacion<i class="bi bi-caret-down-fill"></i></a>
                <div class="collapse" id="menu2">
                    <a href="admin/usuario" class="list-group-item menu" data-parent="#menu2"><mat-icon class="icono">people</mat-icon> Habilitar Maquinas</a>
                    <a href="admin/laboratorio" class="list-group-item menu" data-parent="#menu2"><mat-icon class="icono">domain</mat-icon>Asignar Colegios</a>
                    <a href="admin/maquina" class="list-group-item menu" data-parent="#menu2"><mat-icon class="icono">computer</mat-icon>Asignar Equipos</a>
                </div>
                <a href="admin/asignar" class="nav-link"><mat-icon class="icono">add_to_queue</mat-icon>Asignar Equipos</a>
                <a href="admin/script" class="nav-link"><mat-icon class="icono">description</mat-icon>Generar Script</a>
                <a href="admin/score" class="nav-link"><mat-icon class="icono">leaderboard</mat-icon>Score</a>
                <a href="#" class="nav-link" (click)="cerrar_sesion()"><mat-icon class="icono">exit_to_app</mat-icon>Cerrar Sesion</a>
            </div>
        </div>
    </div> 
      <script>
          $(document).ready(function(){
        
        $('#submenu li a').on('click', function(e){
           // $('#submenu').removeClass('in');
          $('#submenu').toggleClass();
        });
        
     });
      </script>
