<!-- <div style="text-align: center;">
    <hr>
    
</div> -->
<br>
<h2 style="text-align: center; font-size: 30px;"><strong>Bienvenido</strong></h2>
<h5 style="text-align: center; font-size: 18px;">
    Te encuentras en estos momentos en el area de administración, con tus privilegios puedes operar en lo siguiente:
</h5>
<br>
<hr>
<div class="row" style="width: 100%;">
    <div class="col-3 offset-3">
        <div class="btn btn-outline-dark" style="width: 300px;" routerLink="/admin/usuario">
            <img src="../../../assets/images/usuarios.png" style="width: 100px;height: 100px;">
            Usuarios
        </div>
        <div class="btn btn-outline-dark" style="width: 300px;" routerLink="/admin/producto">
            <img src="../../../assets/images/productos.jpg" style="width: 100px;height: 100px;">
            Productos
        </div>
        <div class="btn btn-outline-dark" style="width: 300px;" routerLink="/admin/proveedor">
            <img src="../../../assets/images/proveedor.jpg" style="width: 100px;height: 100px;">
            Proveedores
        </div>
    </div>
    <div class="col-3">
        <div class="btn btn-outline-dark" style="width: 300px;" routerLink="/admin/inventario">
            <img src="../../../assets/images/inventario.jpg" style="width: 100px;height: 100px;">
            Inventario
        </div>
        <div class="btn btn-outline-dark" style="width: 300px;" routerLink="/admin/cliente">
            <img src="../../../assets/images/clientes.png" style="width: 100px;height: 100px;">
            Clientes
        </div>
        <div class="btn btn-outline-dark" style="width: 300px;" routerLink="/admin/venta">
            <img src="../../../assets/images/ventas.png" style="width: 100px;height: 100px;">
            Ventas
        </div>
    </div>
</div>    
