<nav class="navbar navbar-expand-lg navbar-light bg-dark float-rigth">
    <div class="container-fluid">        
      <a class="navbar-brand" href="/">
        <img src="assets/images/ope.png" width=50px height="30px" alt="imagen" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./acerca" style="color: #fff;"><i class="bi bi-info-circle"></i>
                Acerca de..</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login" style="color: #fff;"><i class="bi bi-box-arrow-in-right"></i> Iniciar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

