<nav class="navbar navbar-expand navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse my-2 my-lg-0" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" ><a class="nav-link" routerLink="/home/home"> <mat-icon class="icono">home</mat-icon>Inicio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/home/login"> <mat-icon class="icono">exit_to_app</mat-icon>Iniciar Sesion</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/home/acerca"> <mat-icon class="icono">people</mat-icon>Acerca de...</a></li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
