<br>
<h4>CATEGORIAS</h4>  
<br>
<!-- <div class="row">
  <div class="col-lg-8 offset-2">
    <input type="search" class="form-control" placeholder="Buscar" name="filterPost"  [(ngModel)]="filterpost"  maxlength="20">
  </div>
</div> -->
<!-- <br>   -->
  <div class="row" style="text-align: center;">
      <div class="col-sm-10 col-md-5 col-lg-5 col-xl-4">
        <mat-form-field appearance="fill">
          <mat-label>CONCURSOS</mat-label>
          <mat-select>
            <mat-option>Vacio</mat-option>
            <mat-option *ngFor="let c of concursos" [value]="c.id" (click)="listar_id(c);">{{c.titulo|uppercase}}</mat-option>
          </mat-select>
        </mat-form-field>
        <hr>
        <div class="card bg-light mb-3" *ngIf="cat!=null">
          <div class="card-header">INFORMACION</div>
          <div class="card-body" style="text-align: justify;">
            <p class="card-text"><strong>Concurso</strong> {{concurso.titulo}}</p>
            <p class="card-text"><strong>Gestion:</strong> {{concurso.gestion}}</p>
            <p class="card-text"><strong>Inicio:</strong> {{concurso.fecha|date:'medium'}} </p>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-6 col-sm-12" *ngIf="cat!=null">
        <br>
        <div id="grupoc" class="btn-group" role="group" aria-label="button group">
          <button class="btn btn-outline-primary" (click)="agregar()" > <mat-icon>add</mat-icon> Nueva Categoria</button>
        </div>
        <hr>
        <div *ngIf="cat!=null">
            <table class="table table-light">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Categoria</th>
                  <th>Descripcion</th>
                  <th>Opcion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cat of categorias;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{cat.titulo}}</td>
                  <td>{{cat.descripcion}}</td>
                  <td><div class="btn-group" role="group" >
                    <button (click)="eliminar(cat.id)" class="btn btn-danger btn-sm">
                      <mat-icon>delete</mat-icon>
                    </button>    
                    <button type="button" class="btn btn-success btn-sm" (click)="editar(cat)">
							        <mat-icon>edit</mat-icon>                      
                    </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>      
      </div>
      </div>